#message_container {
    width: 500px;
    height: 100%;
    max-height: 100%;
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}


/* HEADER */

#message_container #header {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    font-size: 30px;
    height: 60px;
    align-items: baseline;
}

#message_container #btn_change_conv,
#message_container #option {
    margin: 15px;
}

#message_container #btn_change_conv {
    position: relative;
}

#message_container #conv_name {
    flex-grow: 1;
    font-family: Audimat, Helvetica, sans-serif;
    line-height: 60px;
}

#message_container #option {
    color: rgba(255, 255, 255, 0.2);
}

#message_container #notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    color: #e26c63;
    font-size: 25px;
}


/* CONTENT */

#message_container #content {
    flex-grow: 1;
    min-height: 0;
    position: relative;
}

#message_container .msg_container {
    padding: 15px;
    max-width: 60%;
    margin: 20px 20px;
    background-color: #989898;
    border-radius: 15px;
}

#message_container .in {
    margin-right: auto;
    border-bottom-left-radius: 0px;
}

#message_container .out {
    margin-left: auto;
    border-bottom-right-radius: 0px;
    background: rgb(2, 0, 36);
    background: linear-gradient(164deg, #fbab50 0%, #e26c63 35%, #a52ba5 100%);
}

#message_container .info {
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}


/* FOOTER */

#message_container #footer {
    background-color: rgba(0, 0, 0, 0.4);
    height: 70px;
}

#message_container #msg_input {
    width: 74%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
}

#message_container #msg_input .select {
    border-radius: 15px 0 0 15px;
}

#message_container #input_container {
    flex-grow: 1;
    background-color: white;
    color: black;
    min-width:0;
    position: relative;
}

/* Input type */
#message_container #msg_input .input {
    display: none;
}
#btn_msg_type,
#btn_msg_send {
    font-size: 22px;
}

#message_container #msg_input #input_text {
    width: 100%;
    min-height: 50px;
    outline-width: 0;
    bottom:0;
    position: absolute;
    background-color: white;
    padding: 10px 10px 0 10px;
    resize: none;
    border-radius: 15px 15px 0 0;
}
#message_container #msg_input .input.active {
    display: block;
}

#message_container #msg_input #input::placeholder {
    line-height: 30px;
}

#message_container #btn_clear_input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: rgba(0,0,0,0.2);
}
#message_container #btn_msg_send {
    background: linear-gradient(164deg, #fbab50 0%, #e26c63 35%, #a52ba5 100%);
    color: white;
    width: 40px;
    min-width: 50px;
    height: 50px;
    position: relative;
    overflow:hidden;
    border-radius: 0 15px 15px 0;
    margin-right: 10px;
}
#message_container #btn_msg_send>* {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}