#page_message_list .conv {
    width: auto;
    height: auto;
    color: black;
    margin: 10px 20px 10px 10px;
    border-radius: 15px;
    overflow: hidden;
}
#page_message_list .conv>* {
    padding: 10px;
}


/* Conversation header */
#page_message_list .conv .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(164deg, #fbab50 0%, #e26c63 35%, #a52ba5 100%);
    display: flex;
}
#page_message_list .conv .title .text {
    flex-grow: 1;
}
#page_message_list .conv .title .settings .hide {
    display: none;
}
#page_message_list .conv .title .settings .quit {
    margin-left: 10px;
}

/* Conversation footer */
#page_message_list .conv .notification {
    font-size: 15px;
    background-color: white;
}
#page_message_list .conv .notification span{
    color: #e26c63;
}

/* Footer */
#page_message_list #footer_content {
    text-align: center;
    margin-right: 10px;
}