body {
	background-color: grey;
}
#bg_container {
	height: 100px;
	overflow: hidden;
	background-color: grey;
	position: relative;
	transform: translate(-50%, -50%);
	top: 50vh; left: 50vw;
}

#bg {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
}